body {
  background-color: var(--color-background);
  color: var(--color-text);
}

p {
  .secondary {
    color: var(--color-text-2);
  }

  .tertiary {
    color: var(--color-text-3);
  }
}

a {
  color: var(--color-link);
}

table {
  thead {
    tr {
      border-bottom: 1px solid var(--color-border);

      th {
        background-color: var(--color-placeholder);
        padding: 0.5rem;
      }
    }
  }

  tbody {
    tr {
      border-bottom: 1px solid var(--color-border);

      td {
        background-color: var(--color-placeholder);
        padding: 0.5rem;
      }
    }
  }

  tfoot {}
}
