:root {
  --color-primary: #ec7211; // branding, primary actions, selected, focused, activated
  --color-primary-dark: #eb5f07; // primary color hover state

  --color-hyperlink: #007dbc; // hyperlink color
  --color-hyperlink-dark: #00a1c9; // hyperlink color hover state

  --color-positive: #4caf50; // success, positive, confirmation
  --color-positive-dark: #43a047; // success, positive, confirmation hover state

  --color-negative: #f44336; // error, negative, alert
  --color-negative-dark: #e53935; // error, negative, alert hover state

  --color-warning: #ffeb3b; // warning, attention, caution
  --color-warning-dark: #fdd835; // warning, attention, caution hover state

  --color-neutral: #9e9e9e; // neutral, secondary, disabled, inactive
  --color-neutral-dark: #757575; // neutral, secondary, disabled, inactive hover state
}
