:root {
  --color-brand: #0a5c83;
  --color-brand-text: #ffffff;

  --color-positive: #087308;
  --color-positive-text: #f8f8f8;

  --color-negative: #ae0045;
  --color-negative-text: #f8f8f8;

  --color-warning: #ffcc00;
  --color-warning-text: #000000;

  --color-info: #0077cc;
  --color-info-text: #f8f8f8;

  --color-link: #1b76b8;

//  fonts
  --font-family-sans: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  --font-family-serif: Georgia, 'Times New Roman', Times, serif;
  --font-family-monospace: Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New', monospace;
}
