.dark {
  --color-background: #272729;
  --color-text: #e3e3e3;
  --color-text-2: #bcbcbc;
  --color-text-3: #9b9b9b;

  --color-hint: #959595;
  --color-border: #424242;

  --color-placeholder: #6b6b6b;

  --color-shadow: #2e2e2e;
}
