.light {
  --color-background: #f5f5f5;
  --color-text: #1c1c1c;
  --color-text-2: #4a4a4a;
  --color-text-3: #9b9b9b;

  --color-hint: #9b9b9b;
  --color-border: #e0e0e0;

  --color-placeholder: #9b9b9b;

  --color-shadow: #0000000d;
}
